<div class="row">
  <div class='col-lg-10'>
    <br>
    <h1>Jobs We Found</h1>
    <h3 class='subtitle'><%= @job_applications.count %> Jobs Available!</h3>
  </div>

  <div class='col-lg-2'>
    <br>
  </div>  
</div>

<br>
<br>
<div class="">
<% if @job_applications.count > 0 %>
    <%= form_for @job_link do |f| %>
        <div class=''> 
           <%= f.submit "Apply To Selected", class: 'btn btn-lg btn-primary' %> 
        </div>
        <br>
        <br> 
         <% @job_applications.each  do |job| %>
           <%= f.fields_for "job[]", job do |job_field| %>
            <div>
             <span class='col-lg-11'>
               <h4 class='title'><%= job.title != '' ? job.title : job.job_link.job_title.titleize %></h4>
               <h6><%= job.company %>; <%= job.location %></h6>
               <p><%= link_to "Description on Indeed.com", job.indeed_link, class: 'subtitle' %></p>
            <hr>
             </span>
              <span class='col-lg-1'><%= job_field.check_box :should_apply, {checked: true} %></span>
            </div>
           <% end %>
         <% end %>
         <%= f.submit "Apply To Selected", class: 'btn btn-lg btn-primary' %>
    <% end %>   
  <% end %>
</div>
<br>
<br>
<br>
