<div class="row">
  <div class='col-lg-10'>
    <br>
    <h1>Jobs We Found</h1>
    <h3 class='subtitle'><%= @job_applications.count %> Jobs Available!</h3>
  </div>

  <div class='col-lg-2'>
    <br>
  </div>  
</div>

<br>
<br>
<div class="">
<% if @job_applications.count > 0 %>
    <%= form_for @job_link do |f| %>
        <div class=''> 
           <%= f.submit "Apply To Selected", class: 'btn btn-lg btn-primary' %> 
        </div>
        <br>
        <br> 
         <% @job_applications.each  do |job| %>
           <%= f.fields_for "job[]", job do |job_field| %>
            <div>
             <span class='col-lg-10'>
               <h4 class='title'><%= job.title != '' ? job.title : job.job_link.job_title.titleize %></h4>
               <h6><%= job.company %>; <%= job.location %></h6>
               <p><%= link_to "Description on Indeed.com", job.indeed_link, class: 'subtitle' %></p>
            <hr>
             </span>
              <div class='col-lg-2'>
                <h6>Auto Apply</h6>
                <%= job_field.check_box :should_apply, {checked: true}, data: {toggle: 'toggle'} %>
              </div>
            </div>
           <% end %>
         <% end %>
         <br>
         <div cass='row'>
           <%= f.submit "Apply To Selected", class: 'btn btn-lg btn-primary' %>
         </div>
    <% end %>   
  <% end %>
</div>
<br>
<br>
<br>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
