<%= form_for @job_link do |f| %>
  <h1>Job Title</h1>(be specific)
  <h6>When we find a match, we'll apply for you!</h6>
  <%= f.text_field :job_title %><br><br />
   <h4>Where?</h4> 
   <p>You can add multiple locations, seperate by commas</p>
  <%= f.text_field :job_location %>(Optional)<br />
  <% if user_signed_in?  %>
    <%= f.submit "Apply", class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "Sign in or create an account to get started", new_user_session_path %>  
   <% end %>  
<% end %>    
