<div class='col-lg-10'>
  <br>
  <h1>Jobs You've Applied To</h1>
  <%= @job_applications.count %>
</div>

<br>
<br>
<div class="container">
 
    <div class='col-lgl-2'>
     <%#= f.submit "Apply To Selected", class: 'btn btn-primary' %>
    </div>
    <br>
    <br> 
     <% @job_applications.each  do |job| %>
        <div>
         <div class='col-lg-11'>
           <h3 class="title"><%= job.title != '' ? job.title : job.job_link.job_title.titleize %></h3>
           <h5><%= job.company %>; <%= job.location %></h5>
           <p><%= link_to "Description on Indeed.com", job.indeed_link, class: 'subtitle' %></p>
         </div>
          
        </div>
          <br>
          <br>
          <br>
          <br>
          <hr>
           

     <% end %>
</div>

