<% if user_signed_in? %>
  <div class='row'>
    <div  class='main-title'>
      <div class= 'col-md-10'>
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
      <div class='col-md-2'>
         <h4><%= @user.credits %> Credits Available</h4>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>  
      </div>  
    </div> 
  </div> 
  <br>
  <div class='row'>
    <div class="col-md-4">
      <div class="jumbotron">
      <h3><%= @job_links.count %> Jobs Searched For</h3>
      </div>  
    </div>  
    <div class="col-md-4">
      <div class="jumbotron">
      <h3><%= @job_applications_count %> Applications Submited</h3>
      </div>  
    </div>  
    <div class="col-md-4">
      <div class="jumbotron">
      <% if @users_friends_count > 0 %>
        <h5><%= @users_friends_count %> Friends Referred</h>
      <% end %>
        <%= link_to "Refer Friends", share_path, class:'btn btn-primary' %>
      </div>  
    </div>
  </div>

<%= link_to share_path do %>
  <div class="jumbotron invite_friends_div">
    <h1>Invite Friends, Get Paid!</h1>
  </div>  
<% end %>

<% if !!@user.money_earned %>
  <div class='jumbotron'>
    <div class='row'>
      <h2 class=''>$<%= @user.money_earned %> in your account!</h2>
      <div class=''>
        <%= link_to "Cash Out", share_path, class:'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>    
<% end %>